* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: rgb(11, 11, 52);
    opacity: .9;
    letter-spacing: 1px;
    margin: 30px 0;
    text-transform: capitalize;
}

.todo-list {
    width: 450px;
    padding: 20px;
    box-shadow: 0 30px 20px rgba(31, 30, 30, 0.1);
    border-radius: 2px;
}

.list-head {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.entered-list {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4e3711;
    border: none;
    font-size: 16px;
    background-color: #4b3b2510;
    /* outline: none; */
    
}

.add-list {
    border: none;
    border-radius: 5px;
    background-color: rgb(11, 11, 52);
    outline: none;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    opacity: .8;
    pointer-events: none;
    font-weight: 600;
}

.add-list.active {
    opacity: 1;
    pointer-events: all;
}


.tasks {
    width: 100%;
    margin-top: 30px;
}

.item {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item p {
    font-size: 16px;
    font-weight: 500;
    color: rgb(11, 11, 52);
    letter-spacing: 1px;
}

.item.completed p {
    text-decoration: line-through;
    color: rgb(11, 11, 52);
}

.item-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-btn i {
    color: rgb(8, 6, 133);
    font-size: 18px;
    cursor: pointer;
}